  <!--client section start -->
  <div class="client_section layout_padding">
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <h1 class="what_taital">what is syas our clients</h1>
            <div class="client_section_2 layout_padding">
              <ul>
                <li><img src="../assets/images/round-1.png" class="round_1"></li>
                <li><img src="../assets/images/img-11.png" class="image_11"></li>
                <li><img src="../assets/images/round-2.png" class="round_2"></li>
              </ul>
              <p class="dummy_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem</p>
            </div>
          </div>
          <div class="carousel-item">
            <h1 class="what_taital">what is syas our clients</h1>
            <div class="client_section_2 layout_padding">
              <ul>
                <li><img src="../assets/images/round-1.png" class="round_1"></li>
                <li><img src="../assets/images/img-11.png" class="image_11"></li>
                <li><img src="../assets/images/round-2.png" class="round_2"></li>
              </ul>
              <p class="dummy_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem</p>
            </div>
          </div>
          <div class="carousel-item">
            <h1 class="what_taital">what is syas our clients</h1>
            <div class="client_section_2 layout_padding">
              <ul>
                <li><img src="../assets/images/round-1.png" class="round_1"></li>
                <li><img src="../assets/images/img-11.png" class="image_11"></li>
                <li><img src="../assets/images/round-2.png" class="round_2"></li>
              </ul>
              <p class="dummy_text">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--client section end -->